*{
    box-sizing: border-box;
}
.light{
    /*background-color: rgb(0,0,0);*/
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /*margin: 2px;*/
}
.stand{
    height: 300px;
    width: 20px;
    margin-left: 40px;
    margin-top: 200px;
    background-color: black;
}
/*
.red{
    transition: transform 5s linear;
    transition: all 5s ease;
    transition: all 5s ease-in;
    transition: all 5s ease-out;

}
.red:hover{
    background-color: red;
    transform: rotate(45deg);
    transform: scale(1.5);
    transform: skew(20deg);
    transform: translateX(300px);
    
}
.green{
    transition: transform 5s linear;
    transition: all 5s ease-out;
}
.green:hover{
    background-color: green;
    transform: scale(1.5);
    transform: skew(20deg);
    transform: translateX(300px);
   
}

.yellow{
    transition: transform 5s linear;
    transition: all 5s ease-in-out;
}
.yellow:hover{
    background-color: yellow;
    transform: scale(1.5);
    transform: skew(20deg);
    transform: translateX(300px);
   
}
*/
.red{
    background-color: red;
    animation: red-color 3s ease-in-out 12s;
    
    animation:l-slide 5s ease infinite;
}
.yellow{
    background-color: yellow;
    animation: yellow-color 3s ease-in-out 12s;
    animation:left-slide 5s ease infinite;
}
.green{
    background-color: green;
    animation: green-color 3s ease-in-out 12s;
    
    animation:le-slide 5s ease infinite;
}
.stand{
    background-color: rgb(99, 45, 49);
    animation: upp-stand 5s ease-in-out 12s;
    animation: up-stand 5s ease infinite;

}

@keyframes red-color{
    100%{
        background-color: red;

    }
}
@keyframes green-color{
    100%{
        background-color: green;
    }
}
@keyframes yellow-color{
    100%{
        background-color: yellow;
    }
}
@keyframes stand{
    100%{
        background-color: rgb(99, 45, 49);
    }
}
@keyframes left-slide{
    0%{
        position: relative;
        left: -2000px;
    }
    100%{
        position: relative;
        left: 0px;
    }
}
@keyframes l-slide{
    0%{
        position: relative;
        left: -2000px;
    }
    100%{
        position: relative;
        left: 0px;
    }
}
@keyframes le-slide{
    0%{
        position: relative;
        left: -2000px;
    }
    100%{
        position: relative;
        left: 0px;
    }
}
@keyframes up-stand{
    0%{
        position: relative;
        bottom: -2000px;
    }
    100%{
        position: relative;
        bottom: 0px;
    }
}

