body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    background:linear-gradient(blue,white);
}
#main{
    background-color: rgb(250, 244, 244);
    width: 50vw;
    padding: 20px;
    border-radius: 20px;
}
button{
    color: white;
    background-color: black;
padding: 20px;
border-radius: 20px;
}