body{
    font-family: "Playwrite CU", cursive;
    background-image: url('https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?t=st=1721146926~exp=1721150526~hmac=46aa360dd36a02b4a67e0a0696f4c2ae3879d3d3f6967ab4b750f254cd38b2eb&w=1060');
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;
    background-color: rgba(0,0,0,0.5);*/

    
    


}